<html lang="en">

<head>
    <title>Getting to Know Vue.js</title>
</head>

<body>
    <!-- Div to Mount App -->
    <div id="app">
        <p>emptyObject: {{ emptyObject }}</p>
        <p>emptyString: {{ emptyString }}</p>
        <p>nullProperty: {{ nullProperty }}</p>
    </div>
    <!-- Reference to Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Script Element for our first App -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                book: {
                    title: 'Getting to Know Vue.js',
                    publisher: 'Apress',
                    year: 2018
                }
            },
            watch: {
                book: {
                    handler: function (newBook, oldBook) {
                        console.log('Book Changed');
                    },
                    immediate: true
                }
            },
            template: `
    <div>
    <label>Search:
    <input type="text" v-model="book.title" /></label>
    <ul>
      <li v-for="(value, prop) in book">
        {{prop}}: {{value}}
      </li>
    </ul>
    </div>
    `
        });
    </script>
</body>

</html>